# {{ ansible_managed }}
'''Application settings'''
import os

# Application settings
APP_NAME = '{{ app_name }}'
APP_ERR_CODE_PREFIX = APP_NAME
APP_UUID_LENGTH = 32 # Bytes

PROXY_HOST = os.environ.get(
    '{app_name}_PROXY_HOST'.format(app_name=APP_NAME))
PROXY_PORT = os.environ.get(
    '{app_name}_PROXY_PORT'.format(app_name=APP_NAME))
NO_PROXY = os.environ.get(
    '{app_name}_NO_PROXY'.format(app_name=APP_NAME))

# Logger settings
LOGGER_LEVEL = os.environ[
    '{app_name}_LOGGER_LEVEL'.format(app_name=APP_NAME)]
LOGGER_PATH = os.environ[
    '{app_name}_LOGGER_PATH'.format(app_name=APP_NAME)]
LOGGER_CONFIG = {
    'version': 1,
    'formatters': {
        'json_basic': {
            'format': ('{"timestamp" : "%(asctime)s", '
                       '"level" : "%(levelname)s", "message" : "%(message)s"}'),
            'datefmt': None,
        },
        'json_verbose': {
            'format': ('{"timestamp" : "%(asctime)s", "trxId" : "%(trxId)s", '
                       '"level" : "%(levelname)s", '
                       '"pathname" : "%(pathname)s", "module" : "%(module)s",'
                       '"lineno" : "%(lineno)d", "message" : "%(message)s"}'),
            'datefmt': None,
        },
    },
    'handlers': {
        'stdout': {
            'class': 'logging.StreamHandler',
            'level': LOGGER_LEVEL,
            'formatter': 'json_basic',
            'stream': 'ext://sys.stdout',
        },
        'file': {
            'class': 'logging.handlers.RotatingFileHandler',
            'filename': os.path.join(
                LOGGER_PATH, '{srv}.log'.format(srv=APP_NAME)),
            'level': LOGGER_LEVEL,
            'formatter': 'json_verbose',
            'maxBytes': 104857600,
            'backupCount': 10,
            'encoding': 'utf-8',
        },
    },
    'loggers': {
    },
    'root': {
        'level': LOGGER_LEVEL,
        'handlers': ['stdout', ],
    },
}
